/************ COLORS ***********/
$hover-red: #de1432;
$hover-black: #080001;

$header-background: #3b66a7;
$header-text: #dfdcd4;

$main-background: #3b66a7;
$main-text: #dfdcd4;

$main-title-text: #3b66a7;

$footer-background: #191818;
$footer-text: #fffefa;


/************** COMMON **********/

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    padding: 0;
    margin: 0;
}