@use './_partials/reset.scss';
@use './_partials/img.scss';
@use './_partials/button.scss';
@use './_partials/variables.scss' as *;
@use './_partials/hover.scss';
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

section {
    animation: headerFadein 1.2s linear forwards;


    @keyframes headerFadein {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}